<ng-container *ngIf="getErrorMessage()">
  <div class="panel panel-danger errormessage">
    <div class="panel-heading">{{'error' | translate}}</div>
    <ul class="panel-body">
      <li class="errorline" *ngFor="let errorLine of getErrorMessage()">
        <strong>
          {{getOperationName() | translate}}: {{errorLine | translate}}
          <ng-container *ngIf="getStatusCode()!==null">
              {{getStatusCodeString()}}
          </ng-container>          
        </strong>
        <div class="description">
          {{getDescription() | translate}}
        </div>
      </li>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="getWarningMessage()">
  <div class="panel panel-warning warningmessage">
    <div class="panel-heading">{{'warning' | translate}}</div>
    <ul class="panel-body">
      <li class="warningline" *ngFor="let warningLine of getWarningMessage()">
        <strong>
          {{getOperationName() | translate}}: {{warningLine | translate}}
          <ng-container *ngIf="getStatusCode()!==null">
              {{getStatusCodeString()}}
          </ng-container>         
        </strong>
        <div class="description">
            {{getDescription() | translate}}
        </div> 
      </li>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="getInfoMessage()">
  <div class="panel panel-info infomessage">
    <div class="panel-heading">{{'information' | translate}}</div>
    <ul class="panel-body">
      <li class="infoline" *ngFor="let infoLine of getInfoMessage()">
        <strong>
          {{getOperationName() | translate}}: {{infoLine | translate}}
          <ng-container *ngIf="getStatusCode()!==null">
              {{getStatusCodeString()}}
          </ng-container>          
        </strong>
        <div class="description">
            {{getDescription() | translate}}
        </div>
      </li>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="getSuccessMessage()">
  <div class="panel panel-success successmessage">
    <div class="panel-heading">{{'success' | translate}}</div>
    <ul class="panel-body">
      <li class="successline" *ngFor="let successLine of getSuccessMessage()">
        <strong>
          {{getOperationName() | translate}}: {{successLine | translate}}
          <ng-container *ngIf="getStatusCode()!==null">
              {{getStatusCodeString()}}
          </ng-container>         
        </strong>
        <div class="description">
            {{getDescription() | translate}}
        </div>     
      </li>
    </ul>
  </div>
</ng-container>