<ng-container *ngIf="isReady()===false">
  <app-load-indicator></app-load-indicator>
</ng-container>
<ng-container *ngIf="isAuthenticatedUser()===true">
  <app-home></app-home>
</ng-container>
<ng-container *ngIf="isAuthenticatedUser()===false">
  <div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <form>
      <div class="form-group">
        <label for="userNameInput">Username</label>
        <input type="text" class="form-control" id="userNameInput" placeholder="Enter username">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" id="passwordInput" placeholder="Enter password">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</ng-container>