<ng-container *ngIf="isReady()===false">
  <app-load-indicator></app-load-indicator>
</ng-container>
<ng-container *ngIf="isAuthenticatedUser()===true">
  <app-home></app-home>
</ng-container>
<ng-container *ngIf="isAuthenticatedUser()===false">
  <div class="panel panel-primary">
    <div class="panel-heading">{{'login' | translate}}</div>
    <form>
      <div class="form-group">
        <label for="userNameInput">{{'username' | translate}}</label>
        <input type="text" class="form-control" id="userNameInput" 
            placeholder="{{'enter_user_name' | translate}}">
        <label for="passwordInput">{{'password' | translate}}</label>
        <input type="password" class="form-control" id="passwordInput" 
          placeholder="{{'enter_password' | translate}}">
        <button type="submit" class="btn btn-primary">{{'login' | translate}}</button>
      </div>
    </form>
  </div>
</ng-container>