<ul class="nav navbar-nav navbar-inverse">
	<ng-container *ngFor="let menuitem of menuitems">
		<ng-container *ngIf="isShowableMenuItem(menuitem)">
			<ng-container *ngIf="menuitem.route!=='logout'">				
				<li *ngIf="menuitem.subItems.length===0" 
					class="{{isActiveMenu(menuitem.caption)}}">
					<a (click)="selectUrl(menuitem.caption)" 
						routerLink="{{menuitem.route}}">{{menuitem.route | translate}}
					</a>
				</li>
			</ng-container>
			<ng-container *ngIf="menuitem.route==='logout'">
				<li *ngIf="menuitem.subItems.length===0" 
					class="{{isActiveMenu(menuitem.caption)}}">
					<button type="button" class="btn btn-default logoutbutton" 
						(click)="logout()">{{menuitem.route | translate}}
					</button>
				</li>
			</ng-container>								
		</ng-container>
		<li (click)="toggleSubMenu(menuitem)" 
			(mouseenter)="showSubMenu(menuitem)" 
			(mouseleave)="hideSubMenu(menuitem)" 
			*ngIf="menuitem.subItems.length!==0" 
			class="dropdown {{isShowSubMenu(menuitem)}} {{isActiveMenu(menuitem.caption)}}">
			<ng-container *ngIf="isShowableMenuItem(menuitem)">
				<a (click)="selectUrl(menuitem.caption)" 
					class="dropdown-toggle"
					routerLink="{{menuitem.route}}">{{menuitem.route | translate}}
					<span class="caret"></span>
				</a>
			</ng-container>
			<ul class="dropdown-menu">
				<ng-container *ngFor="let subitem of menuitem.subItems">
					<ng-container *ngIf="isShowableMenuItem(menuitem)">
						<li class="{{isActiveSubMenu(subitem.caption)}}">
							<a (click)="selectSubUrl(menuitem.caption, subitem.caption)" 
								routerLink="{{subitem.route}}">
								{{subitem.route | translate}}
							</a>
						</li>
					</ng-container>
				</ng-container>
			</ul>
		</li>
	</ng-container>
	<li class="flaglist">
		<img (click)="setLanguage('en')" class="flag" src="assets/flags/english.svg" alt="English">
		<img (click)="setLanguage('hu')" class="flag" src="assets/flags/hungary.svg" alt="Hungarian">
	</li>
</ul>