.logoutbutton{
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;    
}

.flag{
    width: 1em;
    margin-top: 1.3em;
}

.flaglist{
    margin-left: 1.1em;
    margin-right: 1.1em;
}