<ng-container *ngIf="isReady()===false">
  <app-load-indicator></app-load-indicator>
</ng-container>
<app-messagepanel></app-messagepanel>
<ng-container *ngIf="isAuthenticatedUser()===true">
  <app-home></app-home>
</ng-container>
<ng-container *ngIf="isAuthenticatedUser()===false">
  <ng-container *ngIf="activationCodeIsExists()===false">
    <div class="panel panel-primary">
      <div class="panel-heading">{{'activation' | translate}}</div>
      <form>
        <div class="form-group">
          <label for="codeInput">{{'activation_code' | translate}}</label>
          <input type="text" class="form-control" id="codeInput" 
            placeholder="{{'enter_activation_code' | translate}}">
          <button type="submit" class="btn btn-primary">{{'activation' | translate}}</button>
        </div>
      </form>
    </div>
  </ng-container>
</ng-container>