<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" routerLink="/">
				<img src="assets/icon.png">
				{{ 'SongCatalog' | translate }}
			</a>
			<button (click)="toggleMenu()" type="button"
				class="navbar-toggle collapsed">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse {{collapsed}} navbar-right">
			<app-main-menu (onhidemenu)="hideMenuEvent($event)"></app-main-menu>
		</div>
	</nav>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>